<div class = "well">
   <%= form_for @editor, html: { multipart: true } do |f| %>
      <%= f.label :cfgfile %>
      <%= f.file_field :cfgfile %>
       <%= f.hidden_field :cfgfile_cache %>
      <%= f.submit "Save", class: "btn btn-primary" %>
   <% end %>
</div>